<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.tagsinput.css}"/>
    <title>社区</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="index::header">
    </header>

    <!-- 内容 -->
    <div class="main">
        <div class="container">
            <h6><b class="square"></b> 相关帖子</h6>
            <!-- 帖子列表 -->
            <ul class="list-unstyled mt-4">
                <li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${posts}">
                    <img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" style="width:50px;height:50px;"
                         alt="用户头像">
                    <div class="media-body">
                        <h6 class="mt-0 mb-3">
                            <a th:href="@{|/discuss-detail/map.post.id|}" th:utext="${map.post.title}">备战<em>春招</em>，面试刷题跟他复习，一个月全搞定！</a>
                        	</a>
	                            <span class="badge badge-secondary bg-primary" th:if="${map.post.type==1}">置顶</span>
	                            <span class="badge badge-secondary bg-danger" th:if="${map.post.status==1}">精华</span>
                            </a>
                        </h6>
                        <a th:each="list:${map.tags}" th:switch="${listStat.count}" 
                        th:href="@{|/search/tag?tagname=${list}|}">
								<span th:case="0" th:class="|badge ${list==tagname?'badge-danger':'badge-warning'}|" th:text="${list}"></span>
								<span th:case="1" th:class="|badge ${list==tagname?'badge-danger':'badge-info'}|" th:text="${list}"></span>
								<span th:case="2" th:class="|badge ${list==tagname?'badge-danger':'badge-success'}|" th:text="${list}"></span>
						</a>
                        <div class="text-muted font-size-12">
                            <u class="mr-3" th:utext="${map.user.username}">寒江雪</u> 发布于 <b
                                th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15
                            15:32:18</b>
                            <ul class="d-inline float-right">
                                <li class="d-inline ml-2" th:text="${map.likeCount}">赞 11</li>
                                <li class="d-inline ml-2">|</li>
                                <li class="d-inline ml-2" th:text="${map.post.commentCount}">回复 7</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- 分页 -->
            <nav class="mt-5" th:replace="index::pagination">
            </nav>
        </div>
    </div>

    <!-- 尾部 -->
    <footer class="bg-dark" th:replace="index::footer">

    </footer>
</div>

<script th:src="@{/js/jquery-3.4.1.min.js}" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>
